{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4">Admin Panel</h2>
                        <p>Welcome to the admin panel. Here you can manage users and products.</p>
                        <ul>
                            <li><a href="{{ url_for('users_list_admin') }}">Manage Users</a></li>
                            <li><a href="{{ url_for('create_product') }}">Create new products</a></li>
                            <li><a href="{{ url_for('categories_list_admin') }}">Manage categories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}