{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    {% for id, product in products_show.items() %}
      <h3 class="mb-4">{{ product['name'] }}</h3>
      <div class="row">
        <div class="col-md-6">
          {% if product['image_path'] %}
            <img src="{{ url_for('static', filename='images/' + product['image_path']) }}" 
                class="img-fluid" 
                style="height: 300px; object-fit: contain; padding: 1rem;">
          {% else %}
            <div class="bg-light d-flex align-items-center justify-content-center" 
                style="height: 300px;">
              <span class="text-muted">No product image</span>
            </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <h4>Description</h4>
          <p>{{ product['description'] }}</p>
          <h4>Price: ${{ "%.2f" | format(product['price']|float) }}</h4>
          <h5>Category: {{ product['category'] }}</h5>
          {% if current_user.is_authenticated %}
            <form action="{{ url_for('purchase', id=id) }}" method="POST">
              <button type="submit" class="btn btn-success mt-3">Add to cart</button>
            </form>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}